* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(116, 0, 255, 0.93);
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
}

.img-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.img-login img {
    height: 28rem;
}

.continuar-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    min-height: 40rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(223, 225, 213, 96);
    width: 80%;
    padding: 1.3rem 0;
    border-radius: 5px;
}

.group:nth-child(1) {
    min-height: 15rem;
}

h1 {
    font-size: 20px;
    padding: 25px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.social-login {
    background-color: rgb(74, 0, 168, 1);
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 15px;
}

.social-logout {
    color:rgba(112, 0, 255, 1);
    margin-top: 1rem;
}

.not-account {
    color: rgb(55, 2, 114);
}

.not-account a {
    color: rgba(112, 0, 255, 1);
}

.logout-change {
    color: rgb(55, 2, 114);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color: rgb(228, 215, 215);
}

.download {
    display: flex;
    width: 128%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 5rem;
    width: 15rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./assets/google-play-badge.png');
    width: 228px;
    height: 94px;
}

.app-download:nth-child(2) {
    background-image: url('https://www.sm-castelobranco.pt/media/236334/appstore.png');
    width: 211px;
    height: 61px;
}

/* media queries */

@media (max-width: 1024px) {
    .wrapper {
        width: 115%;
    }

    .img-login img {
        width: 60vw;
        height: 50vh;
    }

    .continuar-login {
        min-height: 42rem;
    }

    .social-login {
        margin: 5px -5px;
    }

    .download {
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    .app-download:nth-child(1) {
        max-width: 194px;
        max-height: 67px;
    }

    .app-download:nth-child(2) {
        max-width: 174px;
        max-height: 50px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        width: 115%;
    }

    .img-login {
        display: none;
    }

    .continuar {
        width: 100%;
    }

    .continuar-login {
        min-height: 37rem;
        width: 75vw;
    }

    .download {
        flex-wrap: nowrap;
        padding: 20px;
    }

    .app-download:nth-child(1) {
        max-height: 77px;
        max-width: 196px;
    }
}